{% extends 'base.html' %}

{% block title %}
Марс
{% endblock %}

{% block body %}
<h1>Марс</h1>
<li>Марс — четвёртая по удалённости от Солнца (после Меркурия, Венеры и Земли) и седьмая по размеру (превосходит по
    массе и диаметру только Меркурий) планета Солнечной системы. Масса Марса составляет 0,107 массы Земли,
    объём — 0,151 объёма Земли, а средний линейный диаметр — 0,53 диаметра Земли[9].
Рельеф Марса обладает многими уникальными чертами. Марсианский потухший вулкан гора Олимп — самая высокая известная
    гора на планетах Солнечной системы (самая высокая известная гора в Солнечной системе — на астероиде Веста),
    а долины Маринер — самый крупный известный каньон на планетах (самый большой каньон в Солнечной системе обнаружен
    на спутнике Плутона — Хароне). Помимо этого, южное и северное полушария планеты радикально отличаются по
    рельефу; существует гипотеза, что Великая Северная равнина, занимающая 40 % поверхности планеты, является импактным
    кратером; в этом случае она оказывается самым крупным известным ударным кратером в Солнечной системе.
Марс имеет период вращения и смену времён года, аналогичные земным, но его климат значительно холоднее
    и суше земного.[источник не указан 284 дня] Вплоть до полёта к Марсу автоматической межпланетной станции
    «Маринер-4» в 1965 году многие исследователи полагали, что на его поверхности есть вода в жидком состоянии.
    Это мнение было основано на наблюдениях за периодическими изменениями в светлых и тёмных участках, особенно
    в полярных широтах, которые были похожи на континенты и моря. Тёмные длинные линии на поверхности Марса
    интерпретировались некоторыми наблюдателями как ирригационные каналы для жидкой воды. Позднее было доказано,
    что большинство этих тёмных линий являются всего лишь оптической иллюзией.</li>
<li>Марс — планета земной группы с разреженной атмосферой (давление на поверхности в 160 раз меньше земного).Перейти
    к разделу «#Атмосфера и климат» Особенностями поверхностного рельефа Марса можно считать ударные кратеры наподобие
    лунных, а также вулканы, долины, пустыни и полярные ледниковые шапки наподобие земных.</li>
<li>У Марса есть два естественных спутника — Фобос и Деймос (в переводе с древнегреческого — «страх» и «ужас»,
    имена двух сыновей Ареса, сопровождавших его в бою), которые относительно малы (Фобос — 26,8×22,4×18,4 км,
    Деймос — 15×12,2×10,4 км) и имеют неправильную форму.</li>
<li>Начиная с 1962 года непосредственным исследованием Марса с помощью АМС занимались в СССР (программы «Марс», «Фобос»)
    и США (программы «Маринер», «Викинг», «Mars Global Surveyor» и другие), а также Европейское космическое агентство
    (программа «Марс-экспресс»), Индия (программа «Мангальян») и Китай (Тяньвэнь-1, Чжужун). На сегодняшний день
    Марс — наиболее подробно изученная планета Солнечной системы после Земли.</li>
<li>Олимп — самая высокая известная гора на планетах Солнечной системы (самая высокая известная гора в Солнечной
    системе — на астероиде Веста), а долины Маринер — самый крупный известный каньон на планетах (самый большой
    каньон в Солнечной системе обнаружен на спутнике Плутона — Хароне). Помимо этого, южное и северное полушария
    планеты радикально отличаются по рельефу; существует гипотеза, что Великая Северная равнина, занимающая 40 %
    поверхности планеты, является импактным кратером; в этом случае она оказывается самым крупным известным ударным
    кратером в Солнечной системе.</li>
<li>Вплоть до полёта к Марсу автоматической межпланетной станции «Маринер-4» в 1965 году многие исследователи полагали,
    что на его поверхности есть вода в жидком состоянии. Это мнение было основано на наблюдениях за периодическими
    изменениями в светлых и тёмных участках, особенно в полярных широтах, которые были похожи на континенты и моря.
    Тёмные длинные линии на поверхности Марса интерпретировались некоторыми наблюдателями как ирригационные каналы для
    жидкой воды. Позднее было доказано, что большинство этих тёмных линий являются всего лишь оптической иллюзией.</li>
<li>На самом деле из-за низкого давления вода (без примесей, понижающих точку замерзания) не может существовать в жидком
    состоянии на большей части (около 70 %) поверхности Марса. Вода в состоянии льда была обнаружена в марсианском
    грунте космическим аппаратом НАСА «Феникс». В то же время собранные марсоходами «Спирит» и «Opportunity»
    геологические данные позволяют предположить, что в далёком прошлом вода покрывала значительную часть
    поверхности Марса. Наблюдения в течение последнего десятилетия позволили обнаружить в некоторых местах на
    поверхности Марса слабую гейзерную активность. По наблюдениям с космического аппарата «Mars Global Surveyor»,
    некоторые части южной полярной шапки Марса постепенно отступают.</li>
<li>На 2021 год орбитальная исследовательская группировка на орбите Марса насчитывает восемь функционирующих космических
    аппаратов: «Марс Одиссей», «Марс-экспресс», «Mars Reconnaissance Orbiter», MAVEN, «Mars Orbiter Mission», «ExoMars
    Trace Gas Orbiter», «Аль-Амаль» и орбитальный аппарат китайской миссии «Тяньвэнь-1». Это больше, чем около любой
    другой планеты, не считая Землю. Поверхность же Марса исследует три марсохода — «Кьюриосити», «Персеверанс» и
    «Чжужун». Кроме того, на поверхности функционирует посадочный модуль миссии «InSight», а также находятся несколько
    неактивных посадочных модулей и марсоходов, завершивших исследования.</li>
<li>Марс хорошо виден с Земли невооружённым глазом. Его видимая звёздная величина достигает −2,91m (при максимальном
    сближении с Землёй). Марс уступает по яркости лишь Юпитеру (во время великого противостояния Марса он может
    превзойти Юпитер), Венере, Луне и Солнцу. Противостояние Марса можно наблюдать каждые два года. Последний раз
    Марс был в противостоянии 8 декабря 2022 года, а следующее противостояние Марса произойдёт 16 января 2025 года.
    Последнее же великое противостояние Марса произошло 27 июля 2018 года. Тогда он находился на расстоянии 0,386 а. е.
    от Земли. Как правило, во время великого противостояния (то есть когда противостояние Марса с Землёй происходит
    близко к прохождению Марсом перигелия своей орбиты) оранжевый Марс становится ярчайшим объектом ночного неба после
    Луны (не считая Венеру, которая и тогда ярче него, но видна только утром или вечером), но это происходит лишь один
    раз в 15—17 лет в течение одной-двух недель.</li>
{% endblock %}