{% extends 'base.html' %}

{% block title %}
Меркурий
{% endblock %}

{% block body %}
<h1>Меркурий</h1>
<li>Мерку́рий — наименьшая планета Солнечной системы и самая близкая к Солнцу. Названа в честь древнеримского бога
    торговли — быстрого Меркурия, поскольку она движется по небу быстрее других планет. Её период обращения вокруг
    Солнца составляет всего 87,97 земных суток — самый короткий среди всех планет Солнечной системы.
Видимое расстояние Меркурия от Солнца, если смотреть с Земли, никогда не превышает 28°. Эта близость к Солнцу означает,
    что планету можно увидеть только в течение небольшого времени после захода или до восхода солнца, обычно
    в сумерках. В телескоп у Меркурия можно увидеть фазы, изменяющиеся от тонкого серпа до почти полного диска,
    как у Венеры и Луны, а иногда он проходит по диску Солнца. Период изменения фаз Меркурия равен синодическому
    периоду его обращения — примерно 116 дней.
Ось Меркурия имеет наименьший наклон из всех планет Солнечной системы (около 1/30°). Однако эксцентриситет орбиты
    у него максимальный среди них, и поэтому в перигелии расстояние Меркурия от Солнца составляет всего около двух
    третей (66 %) от его расстояния в афелии. Поверхность Меркурия покрыта ударными кратерами и внешне похожа на лунную,
    что указывает на отсутствие внутренней геологической активности в последние миллиарды лет. Поскольку атмосферы у
    Меркурия почти нет, температура его поверхности меняется сильнее, чем на любой другой планете Солнечной системы:
    от 100 К (−173 °C) ночью до 700 К (+427 °C) днём в экваториальных регионах. Полярные области постоянно
    охлаждены ниже 180 К (−93 °С). Известных природных спутников у планеты нет.
Меркурий посетили два космических аппарата: в 1974 и 1975 годах рядом с ним пролетел «Маринер-10»,
    а с 2008 до 2015 года его исследовал MESSENGER. Последний в 2011 году вышел на орбиту вокруг планеты и,
    сделав за четыре года более 4000 витков вокруг неё, 30 апреля 2015 года израсходовал топливо и врезался в
    поверхность. Планируется, что в 2025 году к Меркурию прибудет космический аппарат BepiColombo.</li>
<li>Ось Меркурия имеет наименьший наклон из всех планет Солнечной системы (около 1/30°). Однако эксцентриситет орбиты
    у него максимальный среди них, и поэтому в перигелии расстояние Меркурия от Солнца составляет всего около двух
    третей (66 %) от его расстояния в афелии. Поверхность Меркурия покрыта ударными кратерами и внешне похожа на лунную,
    что указывает на отсутствие внутренней геологической активности в последние миллиарды лет. Поскольку атмосферы у
    Меркурия почти нет, температура его поверхности меняется сильнее, чем на любой другой планете Солнечной системы: от
    100 К (−173 °C) ночью до 700 К (+427 °C) днём в экваториальных регионах. Полярные области постоянно охлаждены
    ниже 180 К (−93 °С). Известных природных спутников у планеты нет.</li>
<li>Меркурий относится к планетам земной группы. По своим физическим характеристикам он напоминает Луну. У него нет
    естественных спутников, но есть очень разрежённая атмосфера. Планета обладает крупным железным ядром, являющимся
    источником магнитного поля, напряжённость которого составляет 0,01 от земного магнитного поля. Ядро Меркурия
    составляет 83 % от всего объёма планеты. Температура на поверхности Меркурия колеблется от 80 до 700 К
    (от −190 до +430 °C). Солнечная сторона нагревается гораздо больше, чем полярные области и обратная
    сторона планеты.</li>
<li>Радиус Меркурия составляет всего 2439,7 ± 1,0 км, что меньше радиуса спутника Юпитера Ганимеда и спутника Сатурна
    Титана (двух самых больших спутников планет в Солнечной системе). Но несмотря на меньший радиус, Меркурий
    превосходит Ганимед и Титан вместе взятые по массе. Масса планеты равна 3,3⋅1023 кг. Средняя плотность Меркурия
    довольно велика — 5,43 г/см3, что лишь незначительно меньше плотности Земли. Учитывая, что Земля намного больше
    по размерам, значение плотности Меркурия указывает на повышенное содержание в его недрах металлов. Ускорение
    свободного падения на Меркурии равно 3,70 м/с2. Вторая космическая скорость — 4,25 км/с. О планете пока
    известно сравнительно немного. Только в 2009 году учёные составили первую полную карту Меркурия, используя снимки
    аппаратов «Маринер-10» и «Мессенджер».
После лишения Плутона в 2006 году статуса планеты к Меркурию перешло звание самой маленькой планеты Солнечной
    системы.</li>
<li>Меркурий движется вокруг Солнца по довольно сильно вытянутой эллиптической орбите (эксцентриситет 0,205) на
    среднем расстоянии 57,91 млн км (0,387 а.е.). В перигелии Меркурий находится в 45,9 млн км от Солнца (0,3 а.е.),
    в афелии — в 69,7 млн км (0,46 а.е.), таким образом, в перигелии Меркурий более чем в полтора раза ближе к Солнцу,
    чем в афелии. Наклон орбиты к плоскости эклиптики равен 7°. Средняя скорость движения планеты по орбите — 48 км/с
    (в афелии — 38,7 км/с, а в перигелии — 56,6 км/с). Расстояние от Меркурия до Земли меняется от 82 до 217 млн км.
    Поэтому при наблюдении с Земли Меркурий за несколько дней изменяет своё положение относительно Солнца от запада
    (утренняя видимость) к востоку (вечерняя видимость).</li>
<li>Меркурий обращается по своей орбите вокруг Солнца с периодом 87,97 земных суток. Продолжительность одних звёздных
    суток на Меркурии составляет 58,65 земных, то есть 2/3 меркурианского года, а солнечных — 176 земных, то есть
    два меркурианских года: продолжительность меркурианского дня (и соответственно ночи) равна продолжительности
    меркурианского года. Такое соотношение периодов вращения вокруг оси и обращения Меркурия вокруг Солнца является
    уникальным для Солнечной системы явлением. Оно, предположительно, объясняется тем, что приливное воздействие Солнца
    отбирало момент количества движения и тормозило вращение, которое было первоначально более быстрым, до тех пор, пока
    оба периода не оказались связаны целочисленным отношением. В результате за один меркурианский год Меркурий
    успевает повернуться вокруг своей оси на пол-оборота относительно Солнца (полтора относительно звёзд). То есть если
    в момент прохождения Меркурием перигелия определённая точка его поверхности обращена точно к Солнцу, то при
    следующем прохождении перигелия к Солнцу будет обращена в точности противоположная точка поверхности, а ещё через
    один меркурианский год Солнце снова вернётся в зенит над первой точкой.</li>
<li>Комбинация осевого и орбитального движений Меркурия благодаря вытянутой орбите порождает ещё одно интересное
    явление. Скорость вращения планеты вокруг оси — величина практически постоянная, в то время как скорость
    орбитального движения постоянно изменяется. На участке орбиты вблизи перигелия в течение примерно 8 суток
    угловая скорость орбитального движения превышает угловую скорость вращательного движения. В результате Солнце
    на небе Меркурия описывает петлю, как сам Меркурий на небе Земли. На долготах близких к 90° и 270° Солнце после
    восхода останавливается, поворачивает обратно и заходит почти в той же точке, где взошло. Но спустя несколько
    земных суток Солнце восходит снова в той же точке и уже надолго. Этот эффект иногда называют эффектом Иисуса Навина,
    по имени Иисуса Навина, который, согласно Библии, однажды остановил движение Солнца (Нав. 10:12—13). Около захода
    картина повторяется в обратном порядке.</li>
<li>Прецессия перигелия Меркурия составляет 574,10 ± 0,65″ (угловых секунд) за столетие в гелиоцентрической системе
    координат, или 5600 угловых секунд (≈1,7°) за столетие в геоцентрической системе координат. Расчёт влияния всех
    других небесных тел на Меркурий согласно ньютоновской механике даёт прецессию соответственно 531,63 ± 0,69 и 5557
    угловых секунд за столетие. Пытаясь объяснить наблюдаемый эффект, Леверье предположил, что существует ещё одна
    планета (или, возможно, пояс небольших астероидов), орбита которой расположена ближе к Солнцу, чем у Меркурия, и
    которая вносит возмущающее влияние (другие объяснения рассматривали неучтённое полярное сжатие Солнца).
    Благодаря ранее достигнутым успехам в поисках Нептуна с учётом его влияния на орбиту Урана данная гипотеза стала
    популярной, и искомая гипотетическая планета даже получила название — Вулкан. Однако эта планета так и не была
    обнаружена.</li>
<li>Так как ни одно из этих объяснений не выдержало проверки наблюдениями, некоторые физики начали выдвигать более
    радикальные гипотезы, что необходимо изменять сам закон тяготения, например, менять в нём показатель степени или
    добавлять в потенциал члены, зависящие от скорости тел. Однако большинство таких попыток оказались
    противоречивыми. В начале XX века общая теория относительности дала объяснение наблюдаемой прецессии.
    Эффект очень мал: релятивистская «добавка» составляет всего 42,98 угловой секунды за век, что составляет
    7,5 % (1/13) от общей скорости прецессии, так что потребуется по меньшей мере 12 млн оборотов Меркурия вокруг
    Солнца, чтобы перигелий вернулся в положение, предсказанное классической теорией. Подобное, но меньшее смещение
    существует и для других планет — 8,62 угловой секунды за век для Венеры, 3,84 для Земли, 1,35 для Марса, а также
    астероидов — 10,05 для Икара.</li>
<li>Меркурий обладает магнитным полем, напряжённость которого, по результатам измерения «Маринера-10», примерно в 100
    раз меньше земного и составляет ~300 нТл[2]. Магнитное поле Меркурия имеет дипольную структуру и в высшей
    степени симметрично, а его ось всего на 10 градусов отклоняется от оси вращения планеты, что налагает
    существенное ограничение на круг теорий, объясняющих его происхождение. Магнитное поле Меркурия, возможно,
    образуется в результате эффекта динамо, то есть так же, как и на Земле. Этот эффект является результатом
    циркуляции вещества в жидком ядре планеты. Из-за выраженного эксцентриситета орбиты планеты и близости к Солнцу
    возникает чрезвычайно сильный приливный эффект. Он поддерживает ядро в жидком состоянии, что необходимо для
    проявления «эффекта динамо». В 2015 году учёные из США, Канады и РФ оценили нижнюю границу среднего возраста
    магнитного поля Меркурия в 3,7—3,9 миллиарда лет[51][52].</li>
{% endblock %}