{% extends 'base.html' %}

{% block title %}
Нептун
{% endblock %}

{% block body %}
<h1>Нептун</h1>
<li>Непту́н — восьмая и самая дальняя от Солнца планета Солнечной системы. Его масса превышает массу Земли в 17,2 раз
    и является третьей среди планет Солнечной системы, а по экваториальному диаметру Нептун занимает четвёртое место,
    превосходя Землю в 3,9 раза[10]. Планета названа в честь Нептуна — римского бога морей[11].
Обнаружен 23 сентября 1846 года[12], став первой планетой, открытой благодаря математическим расчётам[13]. Обнаружение
    непредсказуемых изменений орбиты Урана породило гипотезу о неизвестной планете, гравитационным возмущающим влиянием
    которой они и обусловлены. Нептун был найден в пределах предсказанной орбиты. Вскоре был открыт его крупнейший
    спутник Тритон, а в 1949 году — Нереида. Нептун посещался лишь одним космическим аппаратом, «Вояджером-2», который
    пролетел вблизи планеты 24—25 августа 1989 года. С его помощью были открыты кольца Нептуна и 6 его спутников[14].
    Остальные известные спутники Нептуна открыты в XXI веке.
Нептун по составу близок к Урану, и обе планеты отличаются от более крупных планет-гигантов — Юпитера и Сатурна.
    Иногда Уран и Нептун помещают в отдельную категорию «ледяных гигантов»[13]. Атмосфера Нептуна, подобно атмосфере
    Юпитера и Сатурна, состоит в основном из водорода и гелия[13], наряду со следами углеводородов и, возможно, азота,
    однако содержит более высокую долю воды, аммиака и метана. Недра Нептуна и Урана состоят главным образом изо
    «льдов» и камня[15]. Следы метана во внешних слоях атмосферы являются причиной синего цвета планеты[16].
В атмосфере Нептуна бушуют самые сильные ветры среди планет Солнечной системы; по некоторым оценкам, их скорости могут
    достигать 600 м/с[17]. Температура Нептуна в верхних слоях атмосферы близка к −220 °C[10][18]. В центре Нептуна
    температура составляет, по различным оценкам, от 5000 K[19] до 7000—7100 °C[20][21], что сопоставимо с температурой
    на поверхности Солнца и сравнимо с внутренней температурой большинства известных планет. У Нептуна есть слабая
    и фрагментированная система колец, возможно, обнаруженная ещё в 1960-е годы, но достоверно подтверждённая
    «Вояджером-2» лишь в 1989 году[22].
    12 июля 2011 года исполнился ровно один нептунианский год — или 164,79 земного
    года — с момента открытия Нептуна[23][24].</li>
{% endblock %}