{% extends 'base.html' %}

{% block title %}
Сатурн
{% endblock %}

{% block body %}
<h1>Сатурн</h1>
<li>Сату́рн — шестая планета по удалённости от Солнца и вторая по размерам планета в Солнечной системе после Юпитера.
    Сатурн классифицируется как газовая планета-гигант. Сатурн назван в честь римского бога земледелия.Перейти к разделу
    «#Сатурн в культуре» Символ Сатурна — ♄.
В основном Сатурн состоит из водорода, с примесями гелия и следами воды, метана, аммиака и тяжёлых элементов.
    Внутренняя область представляет собой относительно небольшое ядро из железа, никеля и льда, покрытое тонким слоем
    металлического водорода и газообразным внешним слоем.Перейти к разделу «#Внутреннее строение» Внешняя атмосфера
    планеты кажется из космоса спокойной и однородной, хотя иногда на ней появляются долговременные образования.
    Скорость ветра на Сатурне может достигать местами 1800 км/ч, что значительно больше, чем на Юпитере.Перейти к
    разделу «#Атмосфера и строение» У Сатурна имеется планетарное магнитное поле, занимающее промежуточное положение
    по напряжённости между магнитным полем Земли и мощным полем Юпитера. Магнитное поле Сатурна простирается на
    1 000 000 километров в направлении Солнца. Ударная волна была зафиксирована «Вояджером-1» на расстоянии в
    26,2 радиуса Сатурна от самой планеты, магнитопауза расположена на расстоянии в 22,9 радиуса.Перейти к разделу
    «#Магнитное поле»
Сатурн обладает заметной системой колец, состоящей главным образом из частичек льда, меньшего количества
    тяжёлых элементов и пыли.Перейти к разделу «#Кольца» Вокруг планеты обращается 146 известных на данный момент
    спутника[13]. Титан — самый крупный из них, а также второй по размерам спутник в Солнечной системе
    (после спутника Юпитера, Ганимеда), который превосходит по своим размерам Меркурий и обладает единственной
    среди спутников планет Солнечной системы плотной атмосферой, а также метановыми морями и озёрами.Перейти к
    разделу «#Спутники» На орбите Сатурна находилась автоматическая межпланетная станция (АМС) «Кассини»,
    запущенная в 1997 году и достигшая системы Сатурна в 2004 году. В задачи АМС входило изучение структуры колец,
    а также динамики атмосферы и магнитосферы планеты. 15 сентября 2017 года станция завершила свою миссию, сгорев
    в атмосфере планеты</li>
{% endblock %}