{% extends 'base.html' %}

{% block title %}
Солнечная система
{% endblock %}

{% block body %}
<h1>Солнечная система</h1>
<li>Со́лнечная систе́ма — планетная система, включающая в себя центральную звезду Солнце и все естественные космические
  объекты на гелиоцентрических орбитах. Она сформировалась путём гравитационного сжатия газопылевого облака примерно
  4,57 млрд лет назад.</li>
<li>Общая масса Солнечной системы составляет около 1,0014 M☉. Бо́льшая часть её приходится на Солнце; оставшаяся часть
  практически полностью содержится в восьми отдалённых друг от друга планетах, имеющих близкие к круговым орбиты,
  лежащие почти в одной плоскости — плоскости эклиптики. Из-за этого наблюдается противоречащее ожидаемому
  распределение момента импульса между Солнцем и планетами (так называемая «проблема моментов»): всего 2 %
  общего момента системы приходится на долю Солнца, масса которого в ~740 раз больше общей массы планет,
  а остальные 98 % — на ~0,001 общей массы Солнечной системы.</li>
<li>Четыре ближайшие к Солнцу планеты, называемые планетами земной группы, — Меркурий, Венера, Земля и Марс — состоят
  в основном из силикатов и металлов. Четыре более удалённые от Солнца планеты,
  называемые планетами-гигантами, — Юпитер, Сатурн, Уран и Нептун — намного более массивны,
  чем планеты земной группы. Крупнейшие планеты-гиганты, входящие в состав Солнечной системы,
  — Юпитер и Сатурн — состоят главным образом из водорода и гелия и поэтому относятся к газовым гигантам;
  меньшие планеты-гиганты — Уран и Нептун — помимо водорода и гелия, преимущественно содержат воду, метан и аммиак,
  такие планеты выделяются в отдельный класс «ледяных гигантов»[20]. Шесть планет из восьми и четыре карликовые планеты
  имеют естественные спутники. Юпитер, Сатурн, Уран и Нептун окружены кольцами пыли и других частиц.</li>
<li>В Солнечной системе существуют две области, заполненные малыми телами. Пояс астероидов, находящийся между Марсом
  и Юпитером, схож по составу с планетами земной группы, поскольку состоит из силикатов и металлов. Крупнейшими
  объектами пояса астероидов являются карликовая планета Церера и астероиды Паллада, Веста и Гигея. За орбитой Нептуна
  располагаются транснептуновые объекты, состоящие из замёрзшей воды, аммиака и метана, крупнейшими из которых являются
  Плутон, Хаумеа, Макемаке, Квавар, Орк, Эрида и Седна. В Солнечной системе существуют и другие популяции малых тел,
  такие как планетные квазиспутники и троянцы, околоземные астероиды, кентавры, дамоклоиды, а также перемещающиеся по
  системе кометы, метеороиды и космическая пыль.</li>
<li>Солнечный ветер (поток плазмы от Солнца) создаёт пузырь в межзвёздной среде, называемый гелиосферой, который
  простирается до края рассеянного диска. Гипотетическое облако Оорта, служащее источником долгопериодических комет,
  может простираться на расстояние примерно в тысячу раз дальше гелиосферы.</li>
<li>Все планеты и большинство других объектов обращаются вокруг Солнца в одном направлении с
  вращением Солнца (против часовой стрелки, если смотреть со стороны северного полюса Солнца). Есть исключения,
  такие как комета Галлея. Самой большой угловой скоростью обладает Меркурий — он успевает совершить полный оборот
  вокруг Солнца всего за 88 земных суток. А для самой удалённой планеты — Нептуна — период обращения составляет 165
  земных лет.</li>
<li>Бо́льшая часть планет вращается вокруг своей оси в ту же сторону, что и обращается вокруг Солнца. Исключения
  составляют Венера и Уран, причём Уран вращается практически «лёжа на боку» (наклон оси около 90°). Для наглядной
  демонстрации вращения используется специальный прибор — теллурий.</li>
<li>Многие модели Солнечной системы условно показывают орбиты планет через равные промежутки, однако в действительности,
  за малым исключением, чем дальше планета или пояс от Солнца, тем больше расстояние между её орбитой и орбитой
  предыдущего объекта. Например, Венера приблизительно на 0,33 а.е. дальше от Солнца, чем Меркурий, в то время как
  Сатурн на 4,3 а.е. дальше Юпитера, а Нептун на 10,5 а.е. дальше Урана. Были попытки вывести корреляции между
  орбитальными расстояниями (например, правило Тициуса — Боде), но ни одна из теорий не стала общепринятой.</li>
<li>Орбиты объектов вокруг Солнца описываются законами Кеплера. Согласно им, каждый объект обращается по эллипсу, в
  одном из фокусов которого находится Солнце. У более близких к Солнцу объектов (с меньшей большой полуосью) больше
  угловая скорость вращения, поэтому короче период обращения (год). На эллиптической орбите расстояние объекта от Солнца
  изменяется в течение его года. Ближайшая к Солнцу точка орбиты объекта называется перигелий, наиболее
  удалённая — афелий. Каждый объект движется быстрее всего в своём перигелии и медленнее всего — в афелии. Орбиты
  планет близки к кругу, но многие кометы, астероиды и объекты пояса Койпера имеют сильно вытянутые
  эллиптические орбиты.</li>
<li>Большинство планет Солнечной системы обладает собственными подчинёнными системами. Многие окружены спутниками,
  некоторые из спутников по размеру превосходят Меркурий. Большинство крупных спутников находится в синхронном вращении,
  одна их сторона постоянно обращена к планете. Четыре крупнейшие планеты — газовые гиганты — обладают также кольцами,
  тонкими полосами крошечных частиц, обращающимися по очень близким орбитам практически в унисон.</li>
<li>Иногда Солнечную систему разделяют на регионы. Внутренняя часть Солнечной системы включает четыре планеты земной
  группы и пояс астероидов. Внешняя часть начинается за пределами пояса астероидов и включает четыре газовых гиганта.
  Планеты внутри области астероидов иногда называют внутренними, а вне пояса — внешними. Однако иногда эти термины
  используются для нижних (находящихся внутри земной орбиты) и верхних (находящихся за пределами земной орбиты) планет,
  соответственно. После открытия пояса Койпера наиболее удалённой частью Солнечной системы считают регион, состоящий из
  объектов, расположенных дальше Нептуна.</li>
<li>Все объекты Солнечной системы, обращающиеся вокруг Солнца, официально делят на три категории: планеты, карликовые
  планеты и малые тела Солнечной системы. Планета — любое тело на орбите вокруг Солнца, оказавшееся достаточно
  массивным, чтобы приобрести сферическую форму, но недостаточно массивным для начала термоядерного синтеза, и сумевшее
  очистить окрестности своей орбиты от планетезималей. Согласно этому определению, в Солнечной системе имеется восемь
  известных планет: Меркурий, Венера, Земля, Марс, Юпитер, Сатурн, Уран и Нептун. Плутон (до 2006 года
  считавшийся планетой) не соответствует этому определению, поскольку не очистил свою орбиту от окружающих объектов
  пояса Койпера. Карликовая планета — небесное тело, обращающееся по орбите вокруг Солнца; которое достаточно массивно,
  чтобы под действием собственных сил гравитации поддерживать близкую к округлой форму, но которое не очистило
  пространство своей орбиты от планетезималей и не является спутником планеты. По этому определению у Солнечной
  системы имеется пять признанных карликовых планет: Церера, Плутон, Хаумеа, Макемаке и Эрида. В будущем другие
  объекты могут быть классифицированы как карликовые планеты, например, Седна, Орк и Квавар. Карликовые планеты,
  чьи орбиты находятся в регионе транснептуновых объектов, называют плутоидами. Оставшиеся объекты, обращающиеся
  вокруг Солнца, — малые тела Солнечной системы.</li>
<li>Термины газ, лёд и камень используют, чтобы описать различные классы веществ, встречающихся повсюду в Солнечной
  системе. Камень используется, чтобы описать соединения с высокими температурами конденсации или плавления, которые
  оставались в протопланетной туманности в твёрдом состоянии при почти всех условиях. Каменные соединения обычно
  включают силикаты и металлы, такие как железо и никель. Они преобладают во внутренней части Солнечной системы,
  формируя большинство планет земной группы и астероидов. Газы — вещества с чрезвычайно низкими температурами плавления
  и высоким давлением насыщенного пара, такие как молекулярный водород, гелий и неон, которые в туманности всегда были
  в газообразном состоянии. Они доминируют в средней части Солнечной системы, составляя большую часть
  Юпитера и Сатурна. Льды таких веществ, как вода, метан, аммиак, сероводород и углекислый газ
  имеют температуры плавления до нескольких сотен кельвинов, в то время как их термодинамическая
  фаза зависит от окружающего давления и температуры. Они могут встречаться как льды, жидкости
  или газы в различных регионах Солнечной системы, в туманности же они были в твёрдой или газовой фазе. Большинство
  спутников планет-гигантов содержит ледяные субстанции, также они составляют большую часть Урана и Нептуна
  (так называемых «ледяных гигантов») и многочисленных малых объектов, расположенных за орбитой Нептуна].
  Газы и льды вместе классифицируют как летучие вещества.</li>
{% endblock %}