{% extends 'base.html' %}

{% block title %}
Солнце
{% endblock %}

{% block body %}
<h1>Солнце</h1>
<li>Солнце принадлежит к первому типу звёздного населения. Одна из распространённых теорий возникновения Солнечной
  системы предполагает, что её формирование было вызвано взрывами одной или нескольких сверхновых звёзд[15].
  Это предположение основано, в частности, на том, что в веществе Солнечной системы содержится аномально большая доля
  золота и урана, которые могли бы быть результатом эндотермических реакций, вызванных этим взрывом, или ядерного
  превращения элементов путём поглощения нейтронов веществом массивной звезды второго поколения.</li>
<li>Излучение Солнца — основной источник энергии на Земле. Его мощность характеризуется солнечной постоянной — мощностью
  излучения, проходящего через площадку единичной площади, перпендикулярную солнечным лучам и расположенную на
  расстоянии одной астрономической единицы от Солнца (то есть на орбите Земли) вне земной атмосферы. Эта постоянная
  равна приблизительно 1,37 кВт/м².</li>
<li>Проходя сквозь атмосферу Земли, солнечное излучение теряет в энергии примерно 370 Вт/м², и до земной поверхности
  доходит только 1000 Вт/м² (при ясной погоде и когда Солнце находится в зените). Эта энергия может использоваться в
  различных естественных и искусственных процессах. Так, растения, используя её посредством фотосинтеза, синтезируют
  органические соединения с выделением кислорода. Прямое нагревание солнечными лучами или преобразование энергии с
  помощью фотоэлементов может быть использовано для производства электроэнергии (солнечными электростанциями) или
  выполнения другой полезной работы. Путём фотосинтеза была в далёком прошлом получена и энергия, запасённая в нефти
  и других видах ископаемого топлива.</li>
<li>Ультрафиолетовое излучение Солнца имеет антисептические свойства, позволяющие использовать его для дезинфекции воды
  и различных предметов. Оно также вызывает загар и имеет другие биологические эффекты, например стимулирует
  производство в организме витамина D. Воздействие ультрафиолетовой части солнечного спектра сильно ослабляется
  озоновым слоем в земной атмосфере, поэтому интенсивность ультрафиолетового излучения на поверхности Земли сильно
  меняется с широтой. Угол, под которым Солнце стоит над горизонтом в полдень, влияет на многие типы биологической
  адаптации, например от него зависит цвет кожи человека в различных регионах земного шара</li>
<li>Наблюдаемый с Земли путь Солнца по небесной сфере изменяется в течение года. Путь, описываемый в течение года
  той точкой, которую занимает Солнце на небе в определённое заданное время, называется аналеммой и имеет форму цифры 8,
  вытянутой вдоль оси север — юг. Самая заметная вариация в видимом положении Солнца на небе — его колебание вдоль
  направления север — юг с амплитудой 47° (вызванное наклоном плоскости эклиптики к плоскости небесного экватора,
  равным 23,5°). Существует также другая компонента этой вариации, направленная вдоль оси восток — запад и вызванная
  увеличением скорости орбитального движения Земли при её приближении к перигелию и уменьшением — при приближении к
  афелию. Первое из этих движений (север — юг) является причиной смены времён года.</li>
<li>Земля проходит через точку афелия в начале июля и удаляется от Солнца на расстояние 152 млн км, а через
  точку перигелия — в начале января и приближается к Солнцу на расстояние 147 млн км[17]. Видимый диаметр Солнца между
  этими двумя датами меняется на 3 %[18]. Поскольку разница в расстоянии составляет примерно 5 млн км, то в афелии Земля
  получает примерно на 7 % меньше тепла. Таким образом, зимы в северном полушарии немного теплее, чем в южном, а лето
  немного прохладнее.</li>
<li>Солнце — магнитоактивная звезда. Она обладает сильным магнитным полем, напряжённость которого меняется со временем
  и которое меняет направление приблизительно каждые 11 лет, во время солнечного максимума. Вариации магнитного поля
  Солнца вызывают разнообразные эффекты, совокупность которых называется солнечной активностью и включает в себя такие
  явления, как солнечные пятна, солнечные вспышки, вариации солнечного ветра и т. д., а на Земле вызывает полярные
  сияния в высоких и средних широтах и геомагнитные бури, которые негативно сказываются на работе средств связи,
  средств передачи электроэнергии, а также негативно воздействует на живые организмы (вызывают головную боль и плохое
  самочувствие у людей, чувствительных к магнитным бурям)[19][20]. Предполагается, что солнечная активность играла
  большую роль в формировании и развитии Солнечной системы. Она также оказывает влияние на структуру земной
  атмосферы.</li>
<li>Считается[21], что Солнце сформировалось примерно 4,5 миллиарда лет назад, когда быстрое сжатие под действием сил
  гравитации облака молекулярного водорода (также, возможно, облака из смеси молекулярного водорода и атомов других
  химических элементов) привело к образованию в нашей области Галактики звезды первого типа звёздного населения
  типа T Тельца. Звезда такой массы, как Солнце, должна существовать на главной последовательности в общей сложности
  примерно 10 млрд лет. Таким образом, сейчас Солнце находится примерно в середине своего жизненного цикла[22].
  На современном этапе в солнечном ядре идут термоядерные реакции превращения водорода в гелий. Каждую секунду
  в ядре Солнца около 4 миллионов тонн вещества превращается в энергию, в результате чего генерируется эквивалентное
  количество солнечного излучения и поток солнечных нейтрино.</li>
{% endblock %}